.produto {
    background: black;
    margin: 8px;
}

.text {
    color: white;
}

.title {
    font-size: 1.1em;
}

.img {
    width: 239px;
    height: 200px;
}

.btn {
    background: black;
    border-color: rgba(255, 153, 0);
    width: 130%;
    margin-left: -30px;
}

.btn a {
    margin-left: 100px;
}

.btn:hover {
    background: rgba(255, 153, 0);
}