* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background: linear-gradient(180deg, rgba(35, 31, 32, 0.8) 25.52%, rgba(0, 0, 0, 0.296) 76.56%, rgba(0, 0, 0, 0.8) 100%), #231F20;
}

a:hover {
    color: #FF9900;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}

a:link {
    text-decoration: none;
}

button:hover {
    background: #D4D4D4;
}

button {
    background: #FF9900;
}

#favorito {
    color: white;
}

#prod-favorite {
    border-bottom: 0.5px solid white;
}

#btn-favorite {
    background: black;
    border-color: rgba(255, 153, 0);
    border-radius: 3px;
    width: 15%;
    float: right;
    color: white;
    margin-top: -20px;
}